body {
    background-color: rgb(254, 255, 255);
}
.mylink {
    text-decoration: none;
}
.banner {
    min-height: 400px;
    position: relative;
    background-color: #e0f3ba;
}
.banner-content-1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-content-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}
.campaign-card {
    min-height: 525px;
    border: solid none #cfcdcd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
}
.sub-card {
    height: 100px;
}
.sub-card-desc {
    height: 100px;
}
.row-padding {
    padding-left: 0px;
    padding-right: 0px;
}
.card {
    border-radius: 0px;
    border: none !important;
    padding: 0px !important;
}
.register {
    min-height: 700px;
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.img-container {
    min-height: 270px;
    background-color: rgb(28, 160, 160);
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: normal;
}
.progress-info {
    font-size: 11px;
}

#expected-goal {
    background-color: rgb(43, 205, 226);
  overflow: hidden;
  text-overflow: ellipsis;
}
#expected-goal:hover {
  overflow: visible;
}
#amount-donated {
    background-color: rgb(226, 43, 195);
    overflow: hidden;
  text-overflow: ellipsis;
}
#amount-donated:hover {
  overflow: visible;
}
#number-of-contributors {
    background-color: rgb(186, 226, 43);
    overflow: hidden;
  text-overflow: ellipsis;
}
#number-of-contributors:hover {
  overflow: visible;
}
/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 20; /* Stay at the top */
    left: 0;
    background-color: #4e4e4d; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #77fad3;
  }
  /* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    height: auto;
    position: relative;
  }
  #sub-main {
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
      display: block;
      overflow: hidden;
      margin-left: 0.7%;
      margin-right: 0.5%;
      padding-left: 2%;
      padding-right: 2%;
  }
  #sub-main-second {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden;
    margin-left: 0.7%;
    margin-right: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
}